################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MapaMVC/v15/Server/sqlite3
/FakesAssemblies
/Properties/PublishProfiles
